*{
	margin: 0;
}
body{
	font-family: 'Roboto', sans-serif;
	background: url(../images/p7.png)no-repeat;
	background-size: cover;
}

.login-form{
	width: 350px;
	margin: 175px auto 0;
	background:#F7FFE5;
	padding: 20px;
}

.lg-btn{
	width: 100px;
	background: green;
	color: #fff;
	border: none;
	box-shadow: 1px 1px 3px #333;
	display: block;
	margin: 0 auto;
}
.login-form a:hover{
	color: rgb(122, 122, 214);
	cursor: pointer;
	text-decoration-style: none;

}
.heading{
	color: rgb(3, 3, 3);
	text-align: center;

}
